.header {
  margin: 1rem;
  margin-bottom: 0;
}

.sort-wrapper {
  width: max-content;
  margin-left: auto;
  min-width: 12rem;
}

.sort-by {
  padding: 4px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: 4px;
  font-size: 14px;
  cursor: default;
}

.sort-by i {
  cursor: pointer;
}

.sort-by,
.sort-list {
  border: 1px var(--black-200) solid;
}

.sort-list {
  font-size: 14px;
  position: absolute;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  min-width: 12rem;
  background-color: var(--black-inverted);
}

.page-content {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 15rem);
}

.main-content {
  flex-grow: 1;
  padding: 1rem 0.5rem;
}

.bg-color-palette,
.labels-note {
  position: absolute;
  z-index: 2;
  padding: 8px;
  background-color: var(--black-inverted);
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border-radius: 4px;
  margin-right: 8px;
}

.bg-color-list {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.bg-color-list .avatar {
  cursor: pointer;
}

.bg-white.avatar {
  border: 2px solid var(--black-200);
}

.bg-white {
  background-color: var(--black-inverted);
}

.bg-light-coral {
  background-color: var(--light-coral);
}

.bg-selective-yellow {
  background-color: var(--selective-yellow);
}

.bg-mauve {
  background-color: var(--mauve);
}

.bg-menthol {
  background-color: var(--menthol);
}

.bg-pale-cornflower-blue {
  background-color: var(--pale-cornflower-blue);
}

.bg-bright-gray {
  background-color: var(--bright-gray);
}

.bg-bright-gray,
.bg-menthol,
.bg-white,
.bg-light-coral,
.bg-mauve,
.bg-selective-yellow,
.bg-pale-cornflower-blue {
  color: var(--black-700);
}

.add-note-modal .labels-note,
.add-note-modal .bg-color-palette {
  text-align: left;
  bottom: 4rem;
}

@media screen and (max-width: 400px) {
  .add-note-modal .labels-note,
  .add-note-modal .bg-color-palette {
    text-align: left;
    bottom: 7rem;
  }
}
